body {
margin: 30px;
}

/*main header*/
div.header {
}
/*menu*/
div.menu p {
margin: 0px;
font-family: monospace;
font-weight: bold;
font-size: 14pt;
}
div.menu img {
border: 0px;
}
div.menu p a {
text-decoration: none;
color: #3091f1;
}
/*session frame*/
div.session {
font-size: 10pt;
float: right;
text-align: right;
}
div.session p {
margin: 3px;
}
div.session form {
margin: 3px;
}
div.session form input {
margin: 0px 0px 0px 6px;
background-color: #acd6f4;
border: 2px solid #3091f1;
}
div.session p a {
margin: 0px 0px 0px 6px;
padding: 1px 6px;
color: #000000;
text-decoration: none;
background-color: #acd6f4;
border: 2px solid #3091f1;
}

/*main frame*/
div.main {
margin: 5px 0px 0px 0px;
font-size: 10pt;
}
div.main div.welcome {
text-align: center;
margin: 30px;
font-size: 20px;
}
div.main h1 {
font-size: 14pt;
margin: 0px;
}
div.main p {
margin: 0px 0px 0px 20px;
}

/*footer*/
div.footer {
font-size: 8pt;
margin: 20px 0px;
}
/*debug footer*/
div.debug span.key {
font-weight: bold;
}
div.validation {
float: right;
}
div.validation a img {
border: 0px;
margin: 0px 0px 0px 6px;
}
