body {
background-color: white;
font-family: sans-serif;
}

p.menu {
font-size: 14pt;
border-bottom: 2px solid red;
margin-bottom: 10pt;
}
p.menu a {
text-decoration: none;
margin-right: 2pt;
color: black;
}

div.links div.even {
background-color: #f7f7f7;
padding-bottom: 2px;
padding-top: 2px;
}
div.links div.odd {
background-color: #fefefe;
padding-bottom: 2px;
padding-top: 2px;
}
div.links div div.buttons {
float: left;
display: block;
font-size: 8pt;
width: 20px;
}
div.links div div.buttons a {
color: grey;
display: block;
text-decoration: none;
font-weight: bold;
}
div.links div.bad div.buttons a{
color: #FFBBBB;
}
div.links div.good div.buttons a{
color: #AAFFAA;
}

div.links div div.contents {
vertical-align: top;
overflow: hidden;
}
div.links div div.contents p {
margin: 0px;
}

div.links div div.clear {
height: 0px;
clear: left;
}

div.contents h1 {
font-size: 10pt;
margin: 0px;
}
div.contents h2 {
font-size: 8pt;
margin: 0px;
font-weight: normal;
}

a.extlink {
text-decoration: none;
color: black;
}
a.extlink:visited {
color: grey;
font-weight: normal;
}
ul.links li.good div a.extlink {
color: #88AA88;
font-weight: normal;
}
