body {
background-color: white;
font-family: sans-serif;
}

p.menu {
font-size: 14pt;
border-bottom: 2px solid red;
margin-bottom: 10pt;
margin-top: 1pt;
}
p.menu a {
text-decoration: none;
margin-right: 2pt;
color: black;
}

p.menuright {
float: right;
font-size: 10pt;
}
p.menuright a {
text-decoration: none;
margin-left: 2pt;
color: grey;
}

div.links div.even {
background-color: #f7f7f7;
padding-bottom: 5px;
padding-top: 5px;
}
div.links div.odd {
background-color: #fefefe;
padding-bottom: 5px;
padding-top: 5px;
}
div.links div div.buttons {
float: left;
display: block;
width: 20px;
}
div.links div div.buttons div {
width: 16px;
height: 16px;
display: block;
}
div.links div div.buttons a {
text-decoration: none;
font-size: 10px;
color: transparent;
}
div.links div div.buttons div.hidebut {
background-image: url(/img/hide.png);
}
div.links div div.buttons div.unhidebut {
background-image: url(/img/show.png);
}
div.links div div.buttons div.goodbut {
background-image: url(/img/plus.png);
}
div.links div.good div.buttons div.goodbut {
background-image: url(/img/plus_voted.png);
}
div.links div div.buttons div.badbut {
background-image: url(/img/minus.png);
}
div.links div.bad div.buttons div.badbut {
background-image: url(/img/minus_voted.png);
}

div.links div div.contents {
vertical-align: top;
overflow: hidden;
}
div.links div div.contents p {
margin: 0px;
}

div.links div div.clear {
height: 0px;
clear: left;
}

div.contents h1 {
font-size: 12pt;
margin: 0px;
}

a.extlink {
text-decoration: none;
color: black;
}
a.extlink:visited {
color: grey;
}
